body {
	margin: 0 auto;
	background-image: url(../images/background/bg_big2.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #100c0b;
	font-family: "Century Gothic","Arial","Trebuchet MS",Verdana,sans-serif;
	color: #fff;
}

em, .light {
	color: #f0d79e;
	font-size: 10pt;
	font-style: italic;
}

strong {
    font-weight: bold;
}

a img {
    border: medium none;
}

.clear {
	clear: both;
}

#main {
	width: 950px;
	margin: 0 auto;
	position: relative;
	/*background-image: url(../images/content/content_bg.jpg);
	background-position: center top;
	background-repeat: repeat-y;*/
}

/****** HEADER ******/

header {
	width: 950px;
	height: 238px;
	background-image: url(../images/header/content_header_s7.jpg);
}

header #clock {
	width: 280px;
	height: 97px;
	float: right;
	margin: 6px -17px;
	background-image: url(../images/header/clock.png);
	background-position: right top;
	background-repeat: no-repeat;
}

#clock .name {
	color: #ddaa5f;
	font-size: 9pt;
	font-variant: small-caps;
	text-align: right;
	overflow: hidden;
	position: absolute;
	top: 13px;
	right: 55px;
	width: 228px;
}

#clock .day {
	color: #704018;
	font-size: 8pt;
	font-weight: bold;
	text-align: right;
	position: absolute;
	top: 29px;
	right: 67px;
	width: 228px;
}

#clock span.hard {
	color: #7c2727;
	text-transform: uppercase;
}

#clock .time {
	color: #5e331a;
	font-size: 10pt;
	text-align: center;
	position: absolute;
	top: 36px; /* 37 */
	right: 10px; /* 11 */
}

#clock .remain {
	color: #840000;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 61px;
	right: 8px;
	width: 39px;
}

#time {
	color: #F0D79E;
    font-size: 8pt;
    font-variant: normal;
    font-weight: normal;
	
	cursor: pointer;

	float: right;
	position: absolute;
	top: 6px;
	right: 30px;

    text-align: right;
    width: 300px;
}

.infoBar {
	width: 950px;
	height: 82px;
	background-image: url(../images/header/infoBar.png);
	position: absolute;
	top: 120px;
}

.infoBar_offgame {
	background-image: url(../images/header/infoBar_offgame.png);
}

.infoBar a.mainButton {
	display: block;
	position: absolute;
	height: 60px;
	top: 7px;
}

.infoBar a.mainButton:hover {
	background-image: url(../images/header/infoBar_hover.png);
}

.infoBar_offgame a.mainButton:hover {
	background-image: url(../images/header/infoBar_offgame_hover.png);
}

.infoBar a.forumButton {
	left: 13px;
	width: 135px;
}

.infoBar a.forumButton:hover {
	background-position: -13px -7px;
}

.infoBar a.newsButton {
	left: 157px;
	width: 130px;
}

.infoBar a.newsButton:hover {
	background-position: -157px -7px;
}

.infoBar a.soulButton {
	left: 305px;
	width: 85px;
}

.infoBar a.soulButton:hover {
	background-position: -305px -7px;
}

.infoBar a.helpButton {
	left: 400px;
	width: 75px;
}

.infoBar a.helpButton:hover {
	background-position: -400px -7px;
}

.infoBar #actionsCount {
	background-color: #48351f;
	border: 1px solid #c69c63;
	cursor: pointer;
	font-size: 8pt;
	outline: 1px solid #5a4327;
	padding-right: 2px;
	position: absolute;
	text-align: center;
	width: 40px;
	left: 527px;
	top: 34px;
}

.infoBar #actionsCount img {
	vertical-align: -25%;
}

.infoBar ul {
	position: absolute;
	font-size: 0;
	height: 16px;
	line-height: 0;
	list-style: none outside none;
	min-width: 140px;
	padding: 0;
	margin: 37px 0 0;
}

.infoBar ul li {
	float: left;
	position: relative;
}

.infoBar ul.status {
	cursor: pointer;
	left: 619px;
}

.infoBar ul.status li img:hover {
	outline: 1px solid #fff;
}

.infoBar ul.bag {
	cursor: pointer;
	left: 777px;
	width: 170px;
	overflow: hidden;
}

#anims {
	position: absolute;
	left: 210px;
	top: 200px;
	font-size: 0;
	line-height: 0;
	z-index: 2;
}

/****** CONTENT ******/

#content {
	margin-top: -20px;
	background-image: url(../images/content/content_bg.jpg);
	background-position: center top;
	background-repeat: repeat-y;
}

#other {
	position: relative;
	margin-left: 21px;
	width: 922px;
}

#other .header {
	background-image: url(../images/content/ghostDesign_header.gif);
	background-repeat: no-repeat;
	height: 113px;
}

#other .content {
	background-image: url(../images/content/ghostDesign_bg.gif);
	background-repeat: repeat-y;
}

#other .footer {
	background-image: url(../images/content/ghostDesign_footer.gif);
	background-repeat: no-repeat;
	height: 128px;
}

#town {
	position: relative;
	width: 930px;
	margin-left: 19px;

}

#town #left {
	float: left;
	width: 325px;
}

#town #menu .header {
	background-image: url(../images/content/map_header.gif);
	background-repeat: no-repeat;
	height: 18px;
}

#town #menu .content {
	background-image: url(../images/content/map_bg.gif);
	background-repeat: repeat-y;
	padding: 6px 8px 2px 13px;
}

#town #menu .footer {
	background-image: url(../images/content/map_footer.gif);
	background-repeat: no-repeat;
	height: 15px;
	margin-bottom: 10px;
}

#town #misc .header {
	background-image: url(../images/content/misc_header.gif);
	background-repeat: no-repeat;
	height: 18px;
}

#town #misc .content {
	background-image: url(../images/content/misc_bg.gif);
	background-repeat: repeat-y;
	min-height: 100px;
}

#town #misc .footer {
	background-image: url(../images/content/misc_footer.gif);
	background-repeat: no-repeat;
	height: 16px;
	margin-bottom: 10px;
}

#town #right {
	float: left;
	width: 600px;
	margin-left: 2px;
}

#town #page .header {
	background-image: url(../images/content/panel_header.gif);
	background-repeat: no-repeat;
	height: 18px;
}

#town #page .content {
	background-image: url(../images/content/panel_bg.gif);
	background-repeat: repeat-y;
	min-height: 100px;
}

#town #page .footer {
	background-image: url(../images/content/panel_footer.gif);
	background-repeat: no-repeat;
	height: 16px;
	margin-bottom: 10px;
}

#forum {
	position: relative;
	width: 922px;
	margin-left: 21px;
}

#forum .header {
	background-image: url(../images/content/forumDesign_header.gif);
	background-repeat: no-repeat;
	height: 50px;
}

#forum .content {
	background-image: url(../images/content/forumDesign_core.gif);
	background-repeat: repeat-y;
	min-height: 100px;
}

#forum .footer {
	background-image: url(../images/content/forumDesign_footer.gif);
	background-repeat: no-repeat;
	height: 63px;
}

.promo {
	color: #FFBF2B;
	font-weight: bold;
}

a.heroAd {
	background-image: url(../images/hero/heroAd.gif);
	background-repeat: no-repeat;
	display: block;
	width: 298px;
	height: 42px;
	line-height: 10pt;
	overflow: hidden;
	text-decoration: none;
	padding-left: 80px;
    padding-top: 7px;
}

a.heroAd .logo {
	margin-left: -71px;
	position: absolute;
}


a.heroAd strong:first-letter {
    color: #F0D79E;
}

a.heroAd strong {
    color: white;
    display: block;
    font-size: 11pt;
    font-variant: small-caps;
    white-space: nowrap;
}

ul.menuCity {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 300px;
}

ul.menuCity li {
    display: block;
    float: left;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 3px;
    width: 147px;
}

ul.menuCity li.special {
    margin-bottom: 2px;
    width: 297px;
}

ul.menuCity li.special a {
    background-color: #3E2417;
    background-image: url(../images/icons/small_view.gif);
    background-position: 3px 2px;
    background-repeat: no-repeat;
    border: 1px solid #693E29;
    display: block;
    padding: 3px 3px 3px 20px;
    text-decoration: underline;
}

ul.menuCity li a {
    color: #F0D79E;
    display: block;
    font-size: 10pt;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
}

ul.menuCity li a img.icon {
    border: 1px solid black;
    display: none;
}

ul.menuCity li a img.off {
    display: block;
}

ul.menuCity li a strong {
    background-color: #3E2417;
    display: block;
    height: 17px;
    padding-left: 3px;
}

ul.menuCity li a img.home {
    vertical-align: -35%;
}

ul.menuCity li a:hover {
	color: #fff;
}

ul.menuCity li a:hover img.icon {
	border-color: #F0D79E;
}

ul.menuCity li a:hover strong {
    color: #fff;
}

ul.menuCity li.selected a {
    background-color: #965C36 !important;
}

ul.menuCity li.selected a img.icon {
    border-color: #fff;
    display: block;
    outline: 1px solid black;
}

ul.menuCity li.selected a strong {
    background-color: #965C36;
    color: #fff;
}

/****** FOOTER ******/

footer {
	width: 950px;
	height: 15px;
	background-image: url(../images/footer/deco_footer.gif);
	margin-bottom: 50px;
}