@font-face {
	font-family: "visitor1";
	src: url('../fonts/visitor1.ttf');
}

#map {
	position: absolute;
	background-color: #2c3a08;
	padding: 1px 0 0 1px;
}

.ligne {
	height: 22px;
}

.case {
	display: inline-block;
	width: 19px;
	height: 19px;
	background-color: #000;
	color: #fff;
	margin-right: 1px;
	margin-bottom: 1px;
	border: 1px solid #4f6118;
}

.case:hover {
	border: 1px solid #b5d74a;
	background-position: 0 -19px;
}

.unknown {
	background-image: url('../images/unknown.jpg');
}

.city {
	background-image: url('../images/city.jpg');
}

.safe {
	background-image: url('../images/safe.jpg');
}

.zombies1 {
	background-image: url('../images/zombies1.jpg');
}

.zombies2 {
	background-image: url('../images/zombies2.jpg');
}

.zombies3 {
	background-image: url('../images/zombies3.jpg');
}

.player {
	width: 5px;
	height: 5px;
	float: left;
	position: absolute;
	background-image: url('../images/player.png');
	-moz-box-shadow: 0px 0px 2px 0px #fffc9e;
	-webkit-box-shadow: 0px 0px 2px 0px #fffc9e;
	-o-box-shadow: 0px 0px 2px 0px #fffc9e;
	box-shadow: 0px 0px 2px 0px #fffc9e;
}

.building {
	width: 9px;
	height: 9px;
	margin: 5px 5px;
	position: absolute;
	background-image: url('../images/building.png');
}

.tipsy {
	font-family: "visitor1", Arial, Verdana;
	font-size: 10px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	background-color: #000;
	border: 1px solid #9cba3d;
	color: #d7ff5b;
	padding: 0 5px 0 5px;
	text-align: center;
}